
  
body {
  margin: 0;
  background: #000000;
  font-family: 'Mooli', sans-serif;
  font-weight: 600;
  background: url(../public/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;


  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
